%h1.center Trello React Boards
%hr

- if @boards.any?
  - @boards.each do |board|
    = link_to board.name, board_path(board)
- else
  %h3 No boards, please create one!

= link_to 'New Board', new_board_path  
